# Manipulação de dados
pandas>=1.5
numpy>=1.23

# Google Sheets API
gspread>=5.10
oauth2client>=4.1
gspread-dataframe>=3.3

# SQLite + ORM
sqlalchemy>=2.0
pysqlite3-binary>=0.5.1  # versão binária embutida do SQLite, útil em ambientes sem lib instalada

# Leitura de datas com timezone (opcional)
python-dateutil>=2.8

# Logging estruturado
loguru>=0.7.2

# Tipagem avançada (opcional)
typing-extensions>=4.5

# Testes (caso esteja usando)
pytest>=7.4

vulture
flake8
isort
unimport
pydeps
